@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@600&display=swap');


    body {
        background-color: #ffffff;
        border-style: ridge;
        font-family: 'Roboto Mono';
    }

    h1 {
        text-decoration: underline;
        text-align: center;
    }

    h2{
        padding-top: 20px;
    }

    p {
        font-size: 16px;
        font-family: 'Helvetica'
    }

    .navbar-default {
        background-color: #c2c7ff;
    }

    .navbar-default .navbar-brand{
        color: rgb(0, 128, 6);
        font-weight: bold;
    }
